@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  font-family:  serif !important;
}
.body-error{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #051937, #00203c, #00273f, #002e41, #003443);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-none{
  color: inherit;
}
.link-none:hover{
  color: inherit;
  text-decoration: none;
}
.notify{
  color: red;
  animation: notifyAnimation 1s infinite linear;
}
@keyframes notifyAnimation{
  0%{
      color: orange;
  }
  100%{
      color: red;
  }
}
.error-btn{
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 100px !important;
  animation: btnAnimation 1s infinite linear;
}
.error-title{
  font-size: 7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.mess-404{
  font-size: 2rem;
}
.error-mess{
  text-align: center;
}
.menu-container{
  background-image: linear-gradient(to bottom, #51009b, #5800a8, #5e00b5, #6500c2, #6c00cf);
  box-sizing: border-box;
  padding: 5px 0px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  font-weight: bold;
  margin:0 !important;
}
.carousel{
  margin-top: 10px;
}
.carousel img{
  height: 210px;
  filter: saturate(100%) contrast(150%);
}
.sale-2 img{
  width: 100%;
  height: 100px;
  filter: saturate(100%) contrast(150%);
  margin-top: 10px;
}
.menu-space{
  height: 130px;
}
.menu-container a, .link-item{
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-container a:hover{
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.menu-top{
  display: flex;
  height: 25px;
  line-height: 25px;
  height: fit-content;
}
.menu-top .menu-top-item{
  font-size: 0.8rem;
  padding: 0px 5px;
  height: auto;
  line-height: 20px;
}
.menu-top-space{
  flex-grow: 1;
}
.menu-item-split{
  border-right: 1px #33CAFF solid;
  height: max-content;
  box-sizing: border-box;
}
.icon{
  margin: 0px 3px;
}
.icon-brand{
  font-size: 1rem;
}
.menu-search{
  height: auto;
  padding: 10px;
  margin-left: 20px;
}
.search-container{
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0px!important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
.search-container form{
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0px 5px !important;
  width: 100%;
}
.search-container .btn{
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #51009b, #5800a8, #5e00b5, #6500c2, #6c00cf);
  outline: none;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}
.search-container .btn:hover{
  opacity: 0.8;
}
.search-container .btn:hover .search-icon{
  animation: searchAnimation 1s linear infinite;
}
@keyframes searchAnimation{
  0%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(30deg);
  }
}
.menu-search-box{
  height: 40px;
  border: none;
  outline: none;
  flex-grow: 1;
}
.menu-logo{
  font-family: cursive;
  color: white;
  display: flex;
  align-items: center;
}
.menu-cart{
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: cartAnimation 2s ease-in-out infinite;
}
.menu-cart:hover{
  cursor: pointer;
  opacity: 0.8;
}
.cart-shadow{
  box-shadow: 0px 1px  rgba(0, 0, 0, 0.151);
}
@keyframes cartAnimation{
  0%{
    transform: translate(10%)
  }
  50%{
    transform: translate(-10%)
  }
  100%{
    transform: translate(10%)
  }
}
.main-body{
  background-color: rgba(223, 223, 223, 0.521);
  padding: 20px 30px !important;
  margin-top: 20px;
}
.category, .new-pro-container{
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}
.category h3, .new-pro-container h3{
  padding: 10px 20px;
  position: relative;
  margin:0;
  color: white;
  background-image: linear-gradient(to bottom, #51009b, #5800a8, #5e00b5, #6500c2, #6c00cf);
}
.category-container{
  white-space: nowrap;
  overflow: auto;
  border-top: 1px solid rgba(179, 179, 179, 0.521);
  display: flex;
}
.category-container::-webkit-scrollbar{
  height: 10px;
  background-color: rgb(180, 180, 180);
}
.category-container::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #51009b, #5800a8, #5e00b5, #6500c2, #6c00cf);
  border-radius: 100px;
}
.cat-item{  
  display: inline-block;
  padding: 30px;
  margin :0;
  width: 200px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.cat-item:hover{
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
.cat-item div{
  white-space: normal;
  word-break: break-all;
}
.cat-border:not(:last-child), .pro-border:not(:last-child){
  border-right: 1px rgba(179, 179, 179, 0.521) solid;
}
.cat-item p{
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cat-item img{
  border-radius: 20px;
}
.page-link{
  padding: 0px !important;
  border: none !important;
  margin: 0 !important;
}
.pag-link,.pag-link .page-link{
  margin: 0px;
  padding: .5rem .75rem !important;
  color: blue;
  display: block !important;
  background-color: white;
  border: 1px rgba(128, 128, 128, 0.212) solid;
  margin-bottom: 20px;
  height: 35px;
  width: 35px;
  line-height: 15px;
  border-radius: 1px;
  transition: all 0.5s ease-out;
}
.disabled{
  pointer-events: none;
  color: gray
}
.pagi-active{
  background-image: linear-gradient(to bottom, #51009b, #5800a8, #5e00b5, #6500c2, #6c00cf);
  color: white
}
.pagination a{
  color: black;
}
.pagination a:hover{
  text-decoration: none;
}
.pagi-cat .pagination{
  float: right;
}


.form-body{
  background-image: linear-gradient(to right top, #051937, #121e4d, #2b1f5f, #4a1a6e, #6c0076);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  position: relative;
  padding: 0;
}
.login-form{
  padding: 2rem;
  background-color: rgba(29, 28, 28, 0.5);
  border-radius: 5px;
  position: relative;
  box-shadow: 3px 3px 10px rgb(46, 46, 46);
  padding: 1rem;
  z-index: 99999;
}

.login-form .logo{
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgb(46, 46, 46);
  user-select: none;
}
.login-form .title{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  user-select: none;
  letter-spacing: 10px;
}
.login-form .form-input{
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  outline: none;
  padding: .3rem;
  border-radius: 2rem;
  border: none;
  width: 100%;
  background-color: rgba(19, 18, 18, 0.5);
  color: white;
  font-family: cursive;
  transition: .3s all;
}
.login-form .form-input:hover,.login-form .form-input:focus{
  transform: scale(1.0.8);
  border: 2px solid aqua;
}
.username{
  position: relative;
}
.username:after{
  position: absolute;
  background-color: red;
  content: 'sas';
  top:0;
  left: 0;
}
.login-form button{
  width: 100%;
  margin-top: 20px;
  padding: 0.4rem;
  border: none;
  font-family: cursive;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: seashell;
  transition: .3s all;
  letter-spacing: 5px;
  position: relative;
  overflow: hidden;
}
.login-form button:hover{
  transform: scale(1.1);
}
.login-form button:before{
  content:'';
  transform: skew(50deg);
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: rgba(59, 59, 59, 0.3);
  transition: .5s all ease-in;
}
.login-form button:hover:before{
  left: 120%;
  top: 0;
}
.login-form p{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  color: rgb(125, 145, 255);
}
.login-form p input[type="checkbox"]{
  margin: 0;
  margin-right: 10px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  color: aqua;
  transition: .3s all;
  outline: none;
  background-color: rgba(19, 18, 18, 0.5);
}
.login-form p input[type="checkbox"]:hover{
  transform: scale(1.1);
  border: 2px solid aqua;
}
.login-form p input[type="checkbox"]:before{
  content :'\f00c';
  font-family: "fontAwesome";
  opacity: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 20px;
  transition: all .3s;
  line-height: 100%;
}
.login-form p input[type="checkbox"]:checked:before{
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 0 5px aqua ;
}
.check-text{
  user-select: none;
  letter-spacing: 3px;
}
.forgot-password{
  color: rgb(179, 65, 255);
  transition: .2s all ease-in;
}
.forgot-password:hover, .sign-up:hover{
  transform: rotate(5deg) skew(10deg);
}
.sign-up{
  color: rgb(255, 92, 92);
  transition: .2s all;
}

.login-form p input[type="checkbox"],.login-form p input[type="radio"]{
  margin: 0;
  margin-right: 10px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  color: aqua;
  transition: .3s all;
  outline: none;
  background-color: rgba(19, 18, 18, 0.5);
}
.login-form p input[type="checkbox"]:hover,.login-form p input[type="radio"]:hover{
  transform: scale(1.1);
  border: 2px solid aqua;
}
.login-form p input[type="checkbox"]:before,.login-form p input[type="radio"]:before{
  content :'\f00c';
  font-family: "fontAwesome";
  opacity: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  line-height: 100%;
  font-size: 20px;
  transition: all .3s;
}
.login-form p input[type="checkbox"]:checked:before,.login-form p input[type="radio"]:checked:before{
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 0 5px aqua ;
}
.pro-img{
  display: flex;
  justify-content: center;
}
.pro-img img{
  width: 100%;
}
.pro-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 1.1rem;
}
.pro-price{
  font-size: 1.1rem;
  flex-grow: 1;
}
.pro-sold{
  font-style: italic;
  color: rgba(128, 128, 128, 0.877);
}
.pro-price span{
  color: red;
  font-size: 1.1rem;
}
.pro-newitem-container{
  border-top: 1px rgba(179, 179, 179, 0.521) solid;
  padding: 5px 0px !important;
  background-color: white;
}
.pro-newitem-container .col{
  display: flex;
  justify-content: center;
}
.pro-newitem{
  border: 1px white solid;
  background-color: white;
  border-radius: 2px;
  transition: all 0.2s linear;
  margin-top: 5px;
  border: 1px rgba(179, 179, 179, 0.521) solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pro-newitem:hover{
  border:1px rgb(21, 0, 212) solid;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}
.pro-newitem .pro-body{
  padding: 10px;
}
.btn-group{
  display: flex;
  justify-content: center;
}
.footer{
  padding: 50px 30px;
}
.shel-des{
  color: gray;
  font-size: 0.9rem;
}
.shel-des h6{
  color: black
}
.view-more a{
  font-size: 1rem;
  float: right;
  color: white;
  text-decoration: underline;
}
.view-more a:hover{
  color: gray;
}
.pro-detail-img{
  width: 100%
}
.body-pro-detail{
  background-color: rgba(223, 223, 223, 0.521);
}
.pro-detail-name{
  font-size: 2rem;
}
.pro-com{
  display: flex;
}
.pro-com div{
  padding: 0px 20px;
  color: gray;
  font-size: 1.1rem;
}
.pro-com div:not(:last-child){
  border-right: 1px gray solid;
}
.pro-com span{
  color: black;
  font-weight: bold;
}
.pro-detail-price{
  font-size: 2rem;
  padding : 0px 30px;
  color : red;
  background-color: rgba(223, 223, 223, 0.521);
}
.pro-detail-container{
  background-color: white;
  padding: 30px 0px;
}
.pro-detail-quantity{
  display: flex;
}
.quan-title{
  margin-right: 30px;
  padding: 0px 20px;
  color: gray;
}
.pro-detail-box div, .pro-detail-box .btn-action{
  margin-top: 10px;
}
.quan-box{
  display: flex;
  border: 1px rgba(223, 223, 223, 0.521) solid;
  justify-content: center;
}
.quan-box input{
  width: 40px;
  text-align: center;
  border: none;
}
.quan-box button{
  width: 35px;
  height: 35px;
  font-size: 1rem;
  border: none;
}
.pro-detail-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-pro button{
  margin-right: 30px;
}